<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>TaskFlow</title>

    <style>
        aside.bg-primary {
            height: 100vh;
            overflow-y: scroll;
        }
        main {
            min-height: 100vh;
        }
        textarea {
            resize: none;
        }
        .task-item {
            display: flex;
        }
        .aside-link {
            transition: all 0.2s;
        }
        .aside-link:hover {
            background-color: #2d81ff;
            transition: all 0.2s;
        }
        .nav-link.active {
            font-weight: bold;
        }
    </style>
</head>
<body class="row m-0">
    <aside class="col-lg-2 bg-primary text-light sticky-lg-top">
        <div class="container">
            <header class="d-flex align-items-end justify-content-center mt-3">
                <i class="bi bi-clipboard2-data h2 m-0"></i>
                <h1 class="h3 m-0">TaskFlow</h1>
            </header>
            <hr>
            <div>
                <a data-bs-toggle="collapse" href="#projetos" class="h5 p-1 mb-1 text-decoration-none dropdown-toggle d-flex align-items-center justify-content-between aside-link" role="button">Projetos</a>
                <ul id="projetos" class="collapse list-group list-group-flush text-light mb-4">
                    <li class="list-group-item bg-transparent text-light">
                        <a data-bs-toggle="tab" data-bs-target="#novoprojeto" class="nav-link text-nowrap" aria-current="page" href="#">+ Novo projeto</a>
                    </li>
                    <li class="list-group-item bg-transparent text-light">
                        <a data-bs-toggle="tab" data-bs-target="#inicio" class="nav-link active" aria-current="page" href="#"><i class="bi bi-house-door me-1"></i>Início</a>
                    </li>
                    {% for project in projects %}
                    <li class="list-group-item bg-transparent text-light">
                        <a data-bs-toggle="tab" data-bs-target="#projeto{{ project.id }}" class="nav-link" aria-current="page" href="#">{{ project.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
                <a data-bs-toggle="collapse" href="#usuarios" class="h5 p-1 mb-1 text-decoration-none dropdown-toggle d-flex align-items-center justify-content-between aside-link" role="button">Usuários</a>
                    <ul id="usuarios" class="collapse list-group list-group-flush text-light mb-4">
                        {% for user in users %}
                            <li class="list-group-item bg-transparent text-light">{{ user.name }}</li>
                        {% endfor %}
                    </ul>
            </div>
        </div>
    </aside>
    <main class="col-lg bg-light py-4">
        <div class="container tab-content">
            <div class="tab-pane active" id="inicio">
                <h2>Bem-vindo ao TaskFlow!</h2>
                <p>
                    O TaskFlow é a solução definitiva para gerenciar seus projetos e tarefas de forma eficiente e organizada. Nossa plataforma foi desenvolvida pensando nas necessidades de startups e empresas que buscam melhorar o acompanhamento e a execução das atividades do dia a dia.
                </p>
                <h3>Funcionalidades</h3>
                <ul>
                    <li><strong>Criação de Tarefas:</strong> Adicione novas tarefas com facilidade, defina prazos e atribua responsáveis</li>
                    <li><strong>Gerenciamento de Status:</strong> Acompanhe o progresso das tarefas com status claros como "Pendente" e "Concluída".</li>
                    <li><strong>Edição e Exclusão:</strong> Mantenha suas tarefas sempre atualizadas e exclua aquelas que já não são necessárias.</li>
                </ul>
                <h3>Por que usar o TaskFlow?</h3>
                <ul>
                    <li><strong>Produtividade:</strong> Aumente a eficiência da sua equipe com uma plataforma intuitiva e funcional.</li>
                    <li><strong>Organização:</strong> Centralize todas as tarefas e projetos em um só lugar, garantindo que nada seja esquecido.</li>
                    <li><strong>Controle:</strong> Monitore as atividades da sua equipe e assegure que os prazos sejam cumpridos.</li>
                </ul>
                <h3>Comece agora!</h3>
                <p>
                    Faça login para acessar suas tarefas e veja como o TaskFlow pode transformar a maneira como você gerencia seus projetos.
                </p>
            </div>
            <div class="tab-pane" id="novoprojeto">
                <h2>Novo projeto</h2>
                <form method="POST" action="{% url 'create_project' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="nomeprojeto" class="form-label">Nome do Projeto:</label>
                        <input type="text" class="form-control" name="name" id="nomeprojeto" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Criar projeto</button>
                    <button type="reset" class="btn btn-outline-danger">Limpar</button>
                </form>
            </div>
            {% for project in projects %}
            <div class="tab-pane" id="projeto{{ project.id }}">
                <h2>{{ project.name }}</h2>
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">Projetos</li>
                        <li class="breadcrumb-item" aria-current="page">{{ project.name }}</li>
                    </ol>
                </nav>
                <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addtarefa{{ project.id }}">Adicionar tarefa</button>

                <div class="modal fade" id="addtarefa{{ project.id }}" tabindex="-1" ria-hidden="true">
                    <div class="modal-dialog">
                        <form class="modal-content" method="POST" action="{% url 'add_task' project.id %}">
                            {% csrf_token %}
                            <div class="modal-header">
                                <h1 class="modal-title fs-5">Nova tarefa</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="nometarefa{{ project.id }}" class="form-label">Nome da Tarefa:</label>
                                    <input type="text" class="form-control" name="title" id="nometarefa{{ project.id }}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="descricao{{ project.id }}" class="form-label">Descrição:</label>
                                    <textarea class="form-control" name="description" id="descricao{{ project.id }}" rows="3" required></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Adicionar tarefa</button>
                            </div>
                        </form>
                    </div>
                </div>
                
                <h3 class="mt-4">Tarefas:</h3>
                <div class="row">
                    <div class="col-10">
                        <div class="row">
                            {% for task in tasks %}
                                {% if task.project.id == project.id %}
                                <div class="col-6 mb-4 task-item" data-status="{{ task.status }}">
                                    <div class="card">
                                        <div class="card-body d-grid">
                                            <div class="d-flex justify-content-between align-items-center mb-1">
                                                <h5 class="card-title m-0">{{ task.title }}</h5>
                                                <div>
                                                    <a href="#" class="text-decoration-none btn btn-outline-warning me-2 p-1">
                                                        <i class="bi bi-pencil"></i>
                                                    </a>
                                                    <a href="{% url 'delete_task' task.id %}" 
                                                        class="text-decoration-none btn btn-outline-danger p-1" 
                                                        onclick="return confirm('Você tem certeza que deseja excluir essa tarefa?');">
                                                            <i class="bi bi-trash"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <p class="card-text m-0">{{ task.description }}</p>
                                            <p class="small card-text text-secondary">Tarefa criada por {{ task.user.name }} em {{ task.date|date:"d/m/Y à\s H:i" }}</p>
                                            <p class="card-text align-self-end">Status: 
                                                <span class="badge bg-{% if task.status == 'P' %}warning{% else %}success{% endif %}">{{ task.get_status_display }}</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            {% empty %}
                            <p>Nenhuma tarefa encontrada.</p>
                            {% endfor %}
                        </div>
                    </div>
                    <aside class="col-2 sticky-lg-top">
                        <h5>Status:</h5>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="status{{ project.id }}" id="todas{{ project.id }}" value="todas" checked>
                            <label class="form-check-label" for="todas{{ project.id }}">
                                Todas
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="status{{ project.id }}" id="pendentes{{ project.id }}" value="pendentes">
                            <label class="form-check-label" for="pendentes{{ project.id }}">
                                Pendentes
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="status{{ project.id }}" id="concluidas{{ project.id }}" value="concluidas">
                            <label class="form-check-label" for="concluidas{{ project.id }}">
                                Concluídas
                            </label>
                        </div>
                    </aside>
                </div>
            </div>
            {% endfor %}
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const radioButtons = document.querySelectorAll('.form-check-input')
            const taskItems = document.querySelectorAll('.task-item')
        
            radioButtons.forEach(function(radio) {
                radio.addEventListener('change', function() {
                    const status = this.value
        
                    taskItems.forEach(function(item) {
                        if (status === 'todas' || item.dataset.status === status.charAt(0).toUpperCase()) {
                            item.style.display = 'flex'
                        } else {
                            item.style.display = 'none'
                        }
                    })
                })
            })
        })
    </script>
</body>
</html>